// colors
$conversationDarkGray: #222;
$appDefaultBlue: #007be3;
$appFusionYellow: #ffc533;
$appFusionTeal: #2ac3be;
$appFusionRed: #f2726f;
$appFusionPurple: #5d62b5;
$appNeutralBlue: #717d96;
$curiousBlue: #337ab7;

// Layout

.position-relative {
    position: relative !important;
}

// utility classes

.cursor-default {
    cursor: default !important;
}

.clickable {
    cursor: pointer;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-15 {
    margin-top: 15px
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.padding-right-5 {
    padding-right: 5px;
}

.color-primary {
    color: $appDefaultBlue;
}

.font-size-body-xs {
    font-size: 12px;
}

.fa-angle-down,
.fa-chevron-down {
    animation: ease-out;
    transition-duration: 0.2s;
    transition-property: transform;
}

.flipped-180 {
    transform: rotate(180deg);
}

.img-size--xs {
    height: 28px;
    object-fit: cover;
    width: 28px;
}

.img-size--sm {
    height: 38px;
    object-fit: cover;
    width: 38px;
}

.img-fit--contain {
    object-fit: contain;
}

// OTR Button
%otr-button {
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 12px 15px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 2;
}

.extend-otr-button {
    @extend %otr-button;
}

.otr-button--default {
    @extend %otr-button;

    background-color: $appDefaultBlue;
    color: #fff;

    &:hover,
    &:active {
        background-color: darken($appDefaultBlue, 10%);
    }

    &:disabled {
        background-color: $appNeutralBlue;
    }
}

.otr-button--fusion {    
    &-yellow {
        @extend %otr-button;
        background-color: $appFusionYellow;
        color: #fff;

        &:hover,
        &:active {
            background-color: darken($appFusionYellow, 10%);
        }

        &:disabled {
            background-color: $appNeutralBlue;
        }
    }

    &-teal {
        @extend %otr-button;
        background-color: $appFusionTeal;
        color: #fff;

        &:hover,
        &:active {
            background-color: darken($appFusionTeal, 10%);
        }

        &:disabled {
            background-color: $appNeutralBlue;
        }
    }

    &-red {
        @extend %otr-button;
        background-color: $appFusionRed;
        color: #fff;

        &:hover,
        &:active {
            background-color: darken($appFusionRed, 10%);
        }

        &:disabled {
            background-color: $appNeutralBlue;
        }
    }

    &-purple {
        @extend %otr-button;
        background-color: $appFusionPurple;
        color: #fff;

        &:hover,
        &:active {
            background-color: darken($appFusionPurple, 10%);
        }

        &:disabled {
            background-color: $appNeutralBlue;
        }
    }
}

// Stat/button/toggle card themes
.default {
    color: $appDefaultBlue;
    border-left-color: $appDefaultBlue;

        &--selected {
        color: $appDefaultBlue;
        border-color: $appDefaultBlue;
        }
    }

    .fusion-yellow {
        color: $appFusionYellow;
        border-left-color: $appFusionYellow;

        &--selected {
        border-color: $appFusionYellow;
        }
    }

    .fusion-teal {
        color: $appFusionTeal;
        border-left-color: $appFusionTeal;

        &--selected {
        border-color: $appFusionTeal;
        }
    }

    .fusion-red {
        color: $appFusionRed;
        border-left-color: $appFusionRed;

        &--selected {
        border-color: $appFusionRed;
        }
    }

    .fusion-purple {
        color: $appFusionPurple;
        border-left-color: $appFusionPurple;

        &--selected {
        border-color: $appFusionPurple;
        }
    }
