@import '_vars.scss';

%otr-form__input-template {
    background-color: #fff;
    border: 1px solid #d6dbe7;
    border-radius: 4px;
    color: #385064;
    display: block;
    font-size: 14px;
    height: 42px;
    line-height: 2;
    padding: 6px 12px;
    width: 100%;

    &.has-error {
        background-color: #fff9f9;
        border-color: #ff4848;
    }
}

.otr-form__input {
    @extend %otr-form__input-template;

    &::placeholder {
        color: #a6b1ba;
    }
}

.otr-form__footer-error {
    background-color: #fff9f9;
    border: 1px solid #ff4848;
    border-radius: 4px;
    color: #ff4848;
    font-size: 16px;
    padding: 6px 12px;
}


.otr-form__nested-input-group {
    font-size: 14px;
    position: absolute;
    right: 2px;
    top: 2px;

    .otr-form__nested-input {
        @extend %otr-form__input-template;
        border: none;

        display: inline;
        height: 38px;
        padding: 6px 4px;
        width: 50px;

        &:focus {
            outline: none;
        }
    }
}

.otr-form__label {
    color: #002340;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.otr-form__card-label-wrapper {
    display: flex;
    justify-content: space-between;

    .otr-form__label-exp {
        padding-right: 5px;
    }
}
