.stat-card {
    background-color: #fff;
    border-left: 4px solid #007bff93;
    min-width: 235px;

    &__panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;

        &-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }

    &__stat-num {
        font-size: 25px;
        font-weight: 700;
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 5px;
        text-align: right;
        text-transform: uppercase;
    }

    &__stat-icon {
        color: #dddfeb;
        font-size: 33px;
        padding-top: 5px;
    }

    &__stat-bar {
        align-items: end;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    &__size-30 {
        font-size: 30px;
    }

    &--active {
        color: #004999;
    }

    &__panel-primary {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    }

    &__divider {
        margin-bottom: 0;
        margin-top: 0;
        width: 95%;
    }

    &__text-gray {
        color: #565a5c!important;
    }

    &__clickable {
        cursor: pointer;
        cursor: hover !important;
    }
}

// css for testing purposes

.text-fusion-yellow {
    color: #ffc533 !important;
}

.border-fusion-yellow {
    border-left: 4px solid #ffc533;
}

.border-fusion-yellow--selected {
    border-left: 4px solid #ffc533;
    outline: 1px solid #ffc533;
}
