.app-avatar-image-fallback__default {
    background: #d6dbe7;
    border-radius: 50%;
    object-fit: cover;
}

.app-avatar-image-fallback__default-user {
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
    font-size: 39px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}