<div class="app-otr-dropdown">
    <angucomplete-alt
        template-url="/otr-search-template.html"
        class="app-courts"
        placeholder="e.g. Seattle Municipal Court"
        pause="200"
        selected-object="vm.onSelectCourt()"
        local-data="vm.courts"
        local-search="vm.findMatchingCourts"
        title-field="customTitle"
        description-field="customDescription"
        minlength="0"
        auto-match="true"
        text-no-results="Enter the court name, city, county, address, or zip code."
        text-searching="Searching courts..."
        input-class="{{vm.classes}}"
        disable-input="vm.isDataLoading"
        clear-selected="true"
        ng-keydown="vm.isCourtFormSubmitted = false"
    />
</div>