<div class="angucomplete-holder"
     ng-class="{'angucomplete-dropdown-visible': showDropdown}">

  <input id="otr-court-search" ng-model="searchStr"
         ng-disabled="disableInput"
         type="text"
         placeholder="{{placeholder}}"
         ng-focus="onFocusHandler()"
         class="{{inputClass}}"
         ng-blur="hideResults($event)"
         autocapitalize="off"
         autocorrect="off"
         autocomplete="off"
         ng-change="inputChangeHandler(searchStr)"/>

  <div class="angucomplete-dropdown otr-angucomplete-dropdown"
       ng-show="showDropdown">
    <div class="angucomplete-searching"
         ng-show="searching"
         ng-bind="textSearching">
    </div>
    <div class="angucomplete-searching"
         ng-show="!searching && (!results || results.length == 0)"
         ng-bind="textNoResults">
    </div>

    <div class="otr-angucomplete-row angucomplete-row"
         ng-repeat="result in results"
         ng-click="(selectResult(result))"
         ng-mouseenter="hoverRow($index)"
         ng-class="{'otr-angucomplete-selected-row': $index == currentIndex}">

      <div class="angucomplete-title"
           otr-fuse-highlight
           fuse-highlight-bind="{{result.title}}"
           fuse-highlight-key="customTitle">
      </div>
      <div class="angucomplete-description"
           otr-fuse-highlight
           fuse-highlight-bind="{{result.description}}"
           fuse-highlight-key="customDescription">
      </div>
    </div>
  </div>
</div>