<div
  class="app-stat-card clickable"
  ng-class="vm.applyThemeClass()"
  ng-style="vm.applyCustomColor()"
  ng-click="vm.onSelect()"
>
  <div class="app-stat-card__heading">
    <div class="app-stat-card__stat-bar">
      <div>
        <div class="app-stat-card__title">
          {{ vm.cardTitle }}
        </div>
        <div ng-if="!vm.statInfoToDisplay">
          <i class="fa fa-spinner fa-pulse fa-lg"></i>
        </div>
        <div
          ng-if="vm.statInfoToDisplay"
          class="app-stat-card__stat-num app-stat-card__clickable"
        >
          {{ vm.statInfoToDisplay }}
        </div>
      </div>
      <div>
        <span 
            class="app-stat-card__stat-icon"
            ng-if="vm.isIconShowing === true">
          <i ng-class="{{'vm.iconClass'}}"></i>
        </span>
      </div>
    </div>
  </div>
</div>
